

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  padding: 1rem;
  background: #fe6a4d;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 15s slide infinite linear;
}

.logos-slide {
  margin: 0 40px;
}

.p {
  font-size: 3rem;
  font: bold;
}
.sam_shadow_1{
  box-shadow: 0.7rem 0.7rem black;
}
.sam_shadow_2{
  box-shadow: 0.3rem 0.3rem black;
}
.sam_shadow_3{
  box-shadow: 0.3rem 0.3rem black;
}
.sam_shadow_4{
  box-shadow: 0.7rem 0.7rem black;
}
.sam_shadow_5{
  box-shadow: 0.4rem 0.4rem black;
}
.sam_shadow_6{
  box-shadow: 0.3rem 0.3rem black;
}
.sam_shadow_7{
  box-shadow: 0.3rem 0.3rem black;
}

